#page_content
{
	background-color: #E0DBCF;
	width: 90%;
	margin: auto;
}

#sentence
{
	display: none;
}

header h1
{
	width: 400px;
	text-align: center;
	margin: auto;
	padding-top: 20px;
}

header img
{
	width: 120px;
	position: absolute;
	right: 60px;
	top: 5px;
}

section
{
	display: flex;
	flex-direction: column;
	height: 350px;
	text-align: center;
	margin-top: 50px;

}

#map
{
    height : 60%;
    width : 60%;
    margin : auto;
    display : none;
}

section p 
{
	font-size: 1.3em;
}

hr
{
	margin-top: 25px;
}

footer
{
	
	text-align: center;
}

footer img
{
	height: 60px;
}

#loading
{
	display:none;
}

@media all and (max-width: 700px)
{
    #page_content
    {
    	width: auto;
    }

    header
    {
    	text-align: center;
    }

    header h1
	{
		width: auto;
		text-align: center;
		margin: auto;
	}

	header img
	{
		width: 70px;
		position: static;
		margin: 30px auto 5px auto;
	}

	section
	{
        height : 1000px;
		margin-top: 5px;
		margin-bottom: 30px;
	}

	#button
	{
		margin-top: 20px;
	}

    #map
    {
        width : 350%;
        height: 240px;
    }

}